<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visiting Faculty</title>
</head>
<body>

    <h1 style="text-align: center;">Visiting Faculty</h1>

    <h2 style="text-align: center;">List of Visiting Faculty Members</h2>
    
    <ul>
        <li>Dr. Milinda Mahajan</li>
        <li>Capt. Dr. Mahendra Ranjekar</li>
        <li>Dr. Shubangi Kelkar</li>
        <li>Prof. Suvarna Pawar</li>
        <li>Dr. Shripad Bhatlawande</li>
        <li>Dr. Mangesh Chaudhari</li>
        <li>Dr. Mukund Ranade</li>
        <li>Dr. Anuradha Purandare</li>
        <li>Dr. Abhijat Vichare</li>
        <li>Dr. Aniruddha Deshpande</li>
        <li>Prof. Mandar Khurjekar</li>
        <li>Dr. Vijayalakshmi Murali</li>
        <li>Dr. Ramdas Khomane</li>
        <li>Dr. Rohini Mudhawadkar</li>
        <li>Dr. Sujata Raman</li>
        <li>Dr. R A Rachayya</li>
        <li>Dr. Bhanudas Bacchav</li>
        <li>Dr. V S Pavitran</li>
        <li>Dr. Vinay Vaidya</li>
        <li>Mr. Sujit Deokar</li>
    </ul>

</body>
</html>
